@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  list-style: none;
  overflow-x: hidden;
}

.mobile-version {
  display: flex;
  background-color: #ffff;
  width: 100%;
  height: 60px;
  z-index: 50;
}

.desktop-version {
  display: none;
}

.links {
  display: flex;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  mix-blend-mode: multiply;
  background-color: #f5f5f7;
  backdrop-filter: blur(58px);
  z-index: 99;
  transition: 0.3s;
}

.links-inactive {
  display: none;
}

.links li {
  margin-top: 4rem;
}

.nav-link {
  font-size: 26px;
  font-weight: 600;
  color: orangered;
  text-decoration: none;
}

.nav-link:hover {
  color: #5e6674;
  transform: scale(1.1);
  transition: 0.3s;
}

.close {
  z-index: 999;
  font-size: 34px;
  margin-top: 1rem;
  margin-left: 70%;
  cursor: pointer;
}

.close:hover {
  transform: scale(0.88);
}

.hamburger img {
  transform: scale(0.4);
  padding: 0.5rem;
}

.hamburger:hover {
  transform: scale(0.88);
}

.logo img {
  display: none;
}

#homepage {
  background-color: rgb(247, 246, 246);
  background-image: url(images/images/hero-bg-mobile.png);
  background-size: cover;
  background-size: 100%;
  background-position-y: -2rem;
}

.hello {
  font-weight: 350;
  color: orangered;
  margin-left: 4%;
  margin-bottom: 1rem;
  padding-top: 5rem;
}

.heading {
  font-weight: 900;
  width: 100%;
  font-size: 38px;
  color: orangered;
  margin-left: 5%;
  line-height: 40px;
}

.paragraph-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  width: 80%;
  margin-left: 5%;
  color: #515151;
  margin-top: 1.5rem;
  border: 10px solid white;
  background-color: rgb(247, 246, 246);
  padding: 1rem;
}

.timedate {
  margin-left: 8%;
  color: #282b32;
  font-size: 18px;
  margin-top: 2rem;
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #515151;
  margin-left: 5%;
  margin-top: 0.3rem;
  padding-bottom: 4rem;
}

.list {
  color: #ffff;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  margin-left: 30%;
  padding-top: 2rem;
}

.baseline {
  width: 38px;
  height: 3px;
  background-color: #a0403a;
  color: #282b32;
  margin-left: 46%;
  margin-top: 1.2rem;
}

#program {
  background-image: url(images/images/net-seamless-pattern.png);
  background-color: rgb(51, 54, 58);
  background-size: contain;
}

.mainprogram {
  margin-top: 3rem;
  margin-left: 1.3%;
  margin-right: 2%;
  background-color: rgb(58, 57, 57);
  background-size: contain;
}

.mainprogram li {
  list-style: none;
}

.box {
  background-color: #3b3e45;
  height: 100%;
  margin-bottom: 3px;
  margin-left: 3px;
}

.box1 {
  background-image: url(images/images/program_icon_01\ 1.png);
  background-repeat: no-repeat;
  background-position-y: 1rem;
}

.box2 {
  background-image: url(images/images/program_icon_02\ 1.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 5px;
  background-position-y: 1rem;
}

.box3 {
  background-image: url(images/images/program_icon_03\ 1.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 10px;
  background-position-y: 1rem;
}

.box4 {
  background-image: url(images/images/program_icon_04\ 1.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 5px;
  background-position-y: 1rem;
}

.box5 {
  background-image: url(images/images/program_icon_05\ 1.png);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 1rem;
}

.box1 ul {
  display: flex;
  margin-left: 20%;
}

.box2 ul {
  display: flex;
  margin-left: 21%;
}

.box3 ul {
  display: flex;
  margin-left: 21%;
}

.box4 ul {
  display: flex;
  margin-left: 20%;
}

.box5 ul {
  display: flex;
  margin-left: 20%;
}

.activity {
  color: #ff5438;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  margin-top: 1rem;
}

.ignite {
  width: 22%;
  margin-top: 1.8rem;
}

.angagement {
  width: 70%;
  height: 100px;
  color: #ffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-left: 2rem;
}

.exhibition {
  display: none;
}

.join {
  width: 80%;
  height: 68px;
  color: #ffff;
  background-color: #ff4f38;
  margin: 2rem;
  margin-left: 10%;
  align-items: center;
  font-size: 16px;
}

#join:hover {
  transform: scale(0.88);
}

#join2 {
  display: none;
}

.hr12 {
  display: none;
}

.featured {
  font-size: 26px;
  font-weight: 400;
  margin-left: 25%;
  margin-top: 7%;
}

.shadow {
  display: flex;
}

.stock1 {
  transform: scale(0.14);
  margin-left: -16rem;
  margin-top: -7rem;
}

.zulu {
  transform: scale(0.1);
  margin-left: -15rem;
  margin-top: -39rem;
}

.zulu1 {
  margin-top: -33rem;
  font-size: 18px;
  margin-left: 40%;
}

.zulu-heading {
  margin-left: 40%;
  font-size: 14px;
  font-style: italic;
  color: red;
  margin-top: 1rem;
  width: 60%;
}

.zulu-par {
  font-size: 13px;
  font-weight: 600;
  margin-left: 40%;
  margin-right: 2%;
  margin-top: 1rem;
}

.micheni {
  transform: scale(0.12);
  margin-left: -14.5rem;
  margin-top: -31.4rem;
}

.micheni1 {
  margin-top: -25rem;
  font-size: 18px;
  margin-left: 40%;
}

.shevel {
  transform: scale(0.15, 0.2);
  margin-left: -13.5rem;
  margin-top: -22.8rem;
}

.shevel1 {
  margin-top: -15rem;
  font-size: 18px;
  margin-left: 40%;
}

.buyale {
  transform: scale(0.16);
  margin-left: -13.2rem;
  margin-top: -29.6rem;
}

.buyale1 {
  margin-top: -24rem;
  font-size: 18px;
  margin-left: 40%;
}

.lumumba {
  transform: scale(0.2, 0.25);
  margin-left: -12rem;
  margin-top: -22.8rem;
}

.lumumba1 {
  margin-top: -17.5rem;
  font-size: 18px;
  margin-left: 40%;
}

.karugu {
  transform: scale(0.13, 0.18);
  margin-left: -15rem;
  margin-top: -26.5rem;
}

.karugu1 {
  margin-top: -21rem;
  font-size: 18px;
  margin-left: 40%;
}

.speakerA,
.speakerB,
.speakerC,
.speakerD {
  display: none;
}

.see-more {
  width: 95%;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  background-image: url(images/images/arrow_down\ 1.png);
  background-repeat: no-repeat;
  background-position-x: 60%;
  padding-right: 8rem;
  background-position-y: 1.25rem;
  background-size: 4%;
  text-indent: 7rem;
  border-radius: 5px;
  border: 2px solid rgb(206, 205, 205);
  box-shadow: 6px 8px 16px 0 rgba(7, 6, 6, 0.2);
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 2.5%;
}

.see-more:hover {
  background-color: rgb(192, 191, 190);
}

.see-less {
  width: 95%;
  height: 50px;
  display: none;
  padding-left: 40%;
  padding-top: 0.8rem;
  font-size: 18px;
  font-weight: 50;
  background-repeat: no-repeat;
  background-position-x: 62%;
  background-position-y: 1rem;
  background-size: 4%;
  border-radius: 5px;
  border: 2px solid rgb(206, 205, 205);
  box-shadow: 6px 8px 16px 0 rgba(7, 6, 6, 0.2);
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 2.5%;
}

.see-less:hover {
  background-color: rgb(192, 191, 190);
}

.version2 {
  height: 75px;
  margin-top: 8rem;
  margin-bottom: -3rem;
  background-color: #e6e9f0;
}

#about-section {
  background-image: url(images/images/hero-bg-mobile.png);
  background-position-x: -60%;
  background-position-y: 120%;
  background-size: contain;
  border: 2px solid rgb(233, 231, 231);
  margin-top: 2rem;
}

.heading2 {
  margin-left: 2rem;
  font-size: 36px;
  font-weight: 750;
  padding-top: 5rem;
  color: orangered;
}

.paragraph-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 88%;
  line-height: 20px;
  padding: 1rem;
  margin-top: 1rem;
  color: #242323;
  background-color: white;
  background-size: 100%;
  text-align: center;
}

.desk-about-par {
  display: none;
}

.contact-us {
  color: rgb(133, 130, 130);
  margin-left: 7%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.email {
  color: rgb(133, 130, 130);
  margin-top: -4rem;
  font-size: 14px;
  margin-left: 27%;
  font-weight: 600;
  padding-bottom: 2rem;
}

.logo-explanation {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.explanation {
  text-align: center;
  width: 90%;
  margin-left: 3%;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: gray;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.explanation2 {
  display: none;
}

.hr0 {
  display: none;
}

.hr1 {
  width: 30px;
  border: 1px solid #c74c39;
  margin-left: 45%;
}

.jugde {
  display: none;
}

.hr3 {
  border: 0.1px solid rgb(228, 225, 225);
  margin-bottom: 1.2rem;
}

.past-summits {
  font-size: 25px;
  font-weight: 600;
  margin-left: 5%;
  margin-bottom: 1rem;
}

.look-in-past {
  color: rgb(133, 130, 130);
  font-size: 16px;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.hr101 {
  display: none;
}

.img-fluid {
  width: 100%;
}

.summit-logo {
  display: none;
}

.group {
  transform: scale(0.88, 1);
  color: rgb(246, 248, 250);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 1rem;
  margin-left: 3%;
  text-align: center;
}

.group-of-3 {
  transform: scale(0.88);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  color: rgb(246, 248, 250);
  margin-left: 3%;
  text-align: center;
}

.partners {
  height: 210px;
  width: 100%;
  background-color: #414246;
  color: rgb(245, 248, 250);
  font-size: 30px;
  padding: 1rem;
  padding-left: 40%;
  margin-top: 1rem;
}

.hr11 {
  margin-top: -11rem;
  margin-left: 48%;
}

.partner-list {
  list-style: none;
  max-width: 10%;
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  margin-left: -30%;
}

.logo3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  width: 40%;
  margin-left: 6%;
  margin-top: 1rem;
  color: #f4f6f8;
}

#reserved {
  background-color: #282b32;
  height: 180px;
  display: flex;
}

.mylogo2 {
  transform: scale(0.8);
  color: black;
}

.reservation {
  margin-left: 5%;
  margin-top: 1rem;
  color: #f4f6f8;
  font-size: 15px;
  width: 50%;
}

.partners2,
.desk-reservation,
.desklog3 {
  display: none;
}

.mylogo {
  border: 5px solid rgb(0, 0, 0);
  width: 60px;
  padding: 5px;
  border-radius: 28px;
}

@media (min-width: 768px) {
  .body {
    margin: 0;
    min-width: 768px;
    padding: 0;
    list-style: none;
  }

  .desktop-version {
    display: flex;
    min-width: 100%;
    margin-right: -2rem;
  }

  .mobile-version {
    display: none;
  }

  #first-nav {
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: #3e3e3e;
    background-size: 100%;
    min-width: 100%;
    height: 30px;
    padding-top: 4px;
    padding-left: 60%;
    z-index: 50;
  }

  .eng {
    color: aliceblue;
  }

  .close {
    display: none;
  }

  .desk-logo {
    margin-right: 15rem;
    margin-top: 1rem;
    padding-left: 10rem;
  }

  .box2 ul {
    height: 100%;
    width: 78%;
    text-align: center;
  }

  #second-nav {
    margin-top: 2rem;
    margin-bottom: -5rem;
    margin-left: -126rem;
    height: 75px;
    background-color: #ffff;
    width: 100%;
    display: flex;
    list-style: none;
    z-index: 50;
  }

  .box1 {
    background-position-x: center;
    background-position-y: 8px;
    overflow: hidden;
  }

  .box2 {
    background-position-x: center;
    background-position-y: 8px;
    overflow: hidden;
  }

  .box3 {
    background-position-x: center;
    background-position-y: 8px;
    overflow: hidden;
  }

  .box4 {
    background-position-x: center;
    background-position-y: 8px;
    overflow: hidden;
  }

  .box5 {
    background-position-x: center;
    background-position-y: 8px;
    overflow: hidden;
  }

  .box1 ul {
    height: 100%;
    width: 88%;
    display: flex;
  }

  .box3 ul {
    height: 100%;
    width: 78%;
  }

  .box4 ul {
    height: 100%;
    width: 78%;
  }

  .box5 ul {
    height: 100%;
    width: 78%;
  }

  .box:hover {
    border: 3px solid #ffff;
    transition: 0.3s;
    transform: scale(0.95);
  }

  #second-nav li {
    margin-right: 3rem;
    padding-top: 25px;
  }

  #second-nav li a {
    font-size: 16px;
    font-weight: 400;
    color: #282b32;
  }

  #second-nav li a:hover {
    color: orangered;
    transform: scale(1.2);
  }

  .navbar-link {
    margin-left: 4rem;
    margin-top: 1rem;
  }

  .campaign {
    margin-left: -1rem;
    margin-top: 0.1rem;
    padding: 10px;
    padding-bottom: 14px;
    padding-top: 20px;
    font-weight: 800;
    font-size: 18px;
    transform: scale(0.8);
    height: 20px;
    width: 150px;
    color: #ec4327;
    border: 7px solid #ec4327;
  }

  #homepage {
    margin-top: 6rem;
    width: 100%;
    background-image: url(images/images/hero-bg-desktop.png);
    background-position: 150%;
    background-size: contain;
  }

  .hello33 {
    display: flex;
    font-size: 32px;
    font-weight: 350;
    margin-left: 20%;
  }

  .heading {
    font-size: 48px;
    line-height: 50px;
    margin-left: 20%;
  }

  .paragraph-1 {
    width: 45%;
    font-size: 15px;
    line-height: 23px;
    margin-left: 18%;
  }

  .timedate {
    margin-left: 18.8%;
  }

  .location {
    margin-left: 18.8%;
  }

  .list {
    margin-left: 42%;
  }

  .mainprogram {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background: none;
  }

  .activity {
    padding-left: 2rem;
    margin-top: 3.8rem;
    text-align: center;
  }

  .angagement {
    margin-top: 6rem;
    margin-left: -3rem;
    width: 85%;
    height: 150px;
    margin-right: 10%;
  }

  .angagement1 {
    margin-left: -10rem;
  }

  .angagement2 {
    margin-left: -7rem;
  }

  .ignite1 {
    display: none;
  }

  .exhibition {
    width: 100%;
    display: flex;
  }

  .long {
    width: 100px;
  }

  #join {
    display: none;
  }

  #join2 {
    display: flex;
    width: 100%;
    margin-top: 4rem;
    margin-left: 40%;
    margin-bottom: 5rem;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }

  .jugde {
    color: #f5f5f7;
  }

  .hr0 {
    display: flex;
    color: rgb(16, 154, 247);
    width: 17rem;
    margin-top: -5rem;
    margin-left: 40%;
  }

  .featured {
    margin-left: 40%;
    margin-top: -1px;
    margin-bottom: -5rem;
  }

  .see-more,
  .see-less {
    display: none;
  }

  #speakers {
    flex-direction: column;
    columns: 2;
    list-style: none;
  }

  .speaker1,
  .speaker2,
  .speaker3 {
    margin-left: 20%;
  }

  .speakerA,
  .speakerB,
  .speakerC,
  .speakerD {
    display: block;
  }

  .speaker1 {
    margin-top: 7rem;
  }

  .partners2,
  .desk-reservation,
  .desklog3 {
    display: flex;
  }

  .partner-underline {
    border-color: #b93d34;
    width: 3%;
    height: 0;
    margin-left: 34%;
    margin-top: -11rem;
  }

  .partner-list {
    display: none;
  }

  .partners2 {
    color: #f4f6f8;
    margin-bottom: -0.1rem;
  }

  .desklog3 {
    margin-top: 5rem;
    margin-left: 15rem;
    font-size: 28px;
    line-height: 30px;
  }

  #reserved {
    background-color: #282b32;
    height: 170px;
    margin-bottom: 10rem;
  }

  .logo3 {
    margin-left: 10rem;
    width: 20%;
    color: #ffff;
    line-height: 28px;
    justify-content: center;
  }

  .mylogo {
    border: 4px solid#0e0909;
    margin-top: 0.8rem;
  }
 
  .reservation {
    width: 40%;
    font-size: 17px;
    font-weight: 500;
    color: #ffff;
    line-height: 30px;
    margin-left: 12%;
  }

  .desk-partners {
    margin-top: -8rem;
    margin-left: -40%;
  }

  #about-section {
    background-size: 10%;
    background-position-y: -50rem;
    padding-top: 2rem;
  }

  .about-hello {
    display: none;
  }

  .heading2 {
    margin-left: 1%;
    margin-top: -2rem;
    width: 100%;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
  }

  .paragraph-2 {
    display: none;
  }

  .desk-about-par {
    display: flex;
    font-weight: 550;
    font-size: 15px;
    line-height: 48px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    background-color: #ffff;
    padding: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .contact-us {
    font-size: 18px;
    color: rgb(133, 130, 130);
    margin-bottom: 2rem;
  }

  .email {
    font-size: 17px;
    margin-left: 35%;
    text-decoration: underline;
  }

  .logo-explanation {
    font-size: 35px;
    margin-top: 3rem;
  }

  .explanation {
    display: none;
  }

  .explanation2 {
    display: flex;
    margin-top: 3rem;
    width: 60%;
    margin-left: 20%;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
  }

  .hr21 {
    display: none;
  }

  .summit {
    display: none;
  }

  .summit-logo {
    display: flex;
    transform: scale(0.6);
    margin-left: 10%;
  }

  .hr33 {
    margin-bottom: -0;
  }

  .past-summits {
    margin-top: 4rem;
    margin-left: 36%;
    font-size: 33px;
    font-weight: 700;
  }

  .hr1 {
    margin-top: 5rem;
    margin-bottom: -5rem;
  }

  .hr101 {
    display: flex;
    width: 3%;
    border-color: rgb(197, 76, 31);
    margin-left: 50%;
  }

  .look-in-past {
    font-size: 18px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: -8rem;
  }

  .pictures {
    list-style: none;
    display: flex;
    margin-top: 10rem;
    margin-left: 23%;
    margin-bottom: 1rem;
  }

  .group {
    transform: scale(1.05);
  }

  .group-of-3 {
    transform: scale(1.01);
    margin-left: 2rem;
  }

  .partners img {
    transform: scale(0.88);
    margin-left: -5em;
  }
}
